/* Block */

position: absolute;
width: 1290px;
height: 352px;
left: 30px;
top: 1542px;

/* White */
background: #FFFFFF;
box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
border-radius: 20px;


/* Table */

position: absolute;
width: 1230px;
height: 313px;
left: 30px;
top: 15px;



/* Row */

position: absolute;
width: 1230px;
height: 70px;
left: 0px;
top: 0px;

border-radius: 5px;


/* Warehouse */

position: absolute;
width: 78px;
height: 20px;
left: 45px;
top: calc(50% - 20px/2 - 1px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* New Theme/Grey 1 - New */
color: #1C2225;



/* InputCheck */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: calc(50% - 20px/2);

/* White */
background: #FFFFFF;
border: 1px solid #00283A;
border-radius: 5px;


/* minus */

position: absolute;
width: 14px;
height: 14px;
left: 3px;
top: 3px;



/* Vector */

position: absolute;
left: 20.84%;
right: 20.82%;
top: 50%;
bottom: 50%;

border: 2px solid #00283A;


/* Enabled optimizations */

position: absolute;
width: 94px;
height: 40px;
left: 234px;
top: calc(50% - 40px/2 - 3px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Size (current/default) */

position: absolute;
width: 90px;
height: 36px;
left: 415px;
top: calc(50% - 36px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-align: center;

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Auto suspend(current/default) secs */

position: absolute;
width: 117px;
height: 36px;
left: 583px;
top: calc(50% - 36px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-align: center;

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Clusters (min/current/max) */

position: absolute;
width: 100px;
height: 36px;
left: 746px;
top: calc(50% - 36px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
text-align: center;

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Group 104 */

position: absolute;
width: 79px;
height: 20px;
left: 884px;
top: 23px;



/* Cost saving */

position: absolute;
width: 79px;
height: 20px;
left: 884px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Group 103 */

position: absolute;
width: 90px;
height: 20px;
left: 1106px;
top: 24px;



/* Keebo status */

position: absolute;
width: 90px;
height: 20px;
left: 1106px;
top: calc(50% - 20px/2 - 1px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* New Theme/Grey 1 - New */
color: #1C2225;



/* Row */

position: absolute;
width: 1230px;
height: 60px;
left: 0px;
top: 70px;

/* New Grey Light F5 */
background: #F5F5F5;
border-radius: 5px;


/* InputCheck */

position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: calc(50% - 20px/2);

background: #2A6985;
border-radius: 5px;


/* check */

position: absolute;
left: 3px;
right: 3px;
top: 3px;
bottom: 3px;

border-radius: 50px;


/* Vector */

position: absolute;
left: 16.66%;
right: 16.68%;
top: 25%;
bottom: 29.17%;

/* White */
border: 2px solid #FFFFFF;


/* Frame 13 */

position: absolute;
width: 143px;
height: 23px;
left: 45px;
top: calc(50% - 23px/2 - 0.5px);



/* Looker_WH */

position: absolute;
width: 77px;
height: 20px;
left: 0px;
top: calc(50% - 20px/2 - 1.5px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* icon/edit */

position: absolute;
width: 20px;
height: 20px;
left: 123px;
top: 2px;



/* Vector */

position: absolute;
left: 8.34%;
right: 16.66%;
top: 16.67%;
bottom: 8.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Vector */

position: absolute;
left: 33.34%;
right: 7.82%;
top: 7.83%;
bottom: 33.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Group 94 */

position: absolute;
visibility: hidden;
width: 46px;
height: 18px;
left: 265px;
top: 21px;



/* database */

position: absolute;
width: 13px;
height: 13px;
left: 265px;
top: 24px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* database */

position: absolute;
width: 18px;
height: 18px;
left: 293px;
top: 21px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* arrow-right */

position: absolute;
width: 15px;
height: 15px;
left: 278px;
top: 23px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

/* Old Theme/Grey 3 */
border: 1.5px solid #8B8F96;


/* X-Small / Medium */

position: absolute;
width: 120px;
height: 20px;
left: 397px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 19 / 60 */

position: absolute;
width: 49px;
height: 20px;
left: 615px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 1 / 2 / 2 */

position: absolute;
width: 53px;
height: 20px;
left: 768px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* Group 80 */

position: absolute;
width: 200px;
height: 35px;
left: 884px;
top: 13px;



/* Slider */

position: absolute;
height: 6px;
left: 884px;
right: 146px;
top: 42px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Slider */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #2A6985;
border-radius: 50px;


/* Line 6 */

position: absolute;
left: 24.86%;
right: 72.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 7 */

position: absolute;
left: 49.71%;
right: 47.29%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 8 */

position: absolute;
left: 74.86%;
right: 22.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Ellipse 9 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 192px;
top: -5px;

background: #2A6985;
/* Old Theme/Grey 5 bg */
border: 3px solid #F4F6F9;


/* Lowest cost */

position: absolute;
width: 80px;
height: 20px;
left: 884px;
top: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

/* Grey 2 - New */
color: #4E575B;



/* InputToggle */

position: absolute;
width: 40px;
height: 20px;
left: 1148px;
top: 20px;



/* Rectangle 2 */

position: absolute;
width: 40px;
height: 20px;
left: 0px;
top: 0px;

background: #257E5A;
border-radius: 50px;


/* Ellipse 4 */

position: absolute;
width: 16px;
height: 16px;
left: 22px;
top: 2px;

/* White */
background: #FFFFFF;


/* Row */

position: absolute;
width: 1230px;
height: 60px;
left: 0px;
top: 131px;

/* White */
background: #FFFFFF;
border-radius: 5px;


/* InputCheck */

position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: calc(50% - 20px/2);

background: #2A6985;
border-radius: 5px;


/* check */

position: absolute;
left: 3px;
right: 3px;
top: 3px;
bottom: 3px;

border-radius: 50px;


/* Vector */

position: absolute;
left: 16.66%;
right: 16.68%;
top: 25%;
bottom: 29.17%;

/* White */
border: 2px solid #FFFFFF;


/* Frame 13 */

position: absolute;
width: 143px;
height: 23px;
left: 45px;
top: calc(50% - 23px/2 - 0.5px);



/* Looker_WH_2 */

position: absolute;
width: 94px;
height: 20px;
left: 0px;
top: calc(50% - 20px/2 - 1.5px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* icon/edit */

position: absolute;
width: 20px;
height: 20px;
left: 123px;
top: 2px;



/* Vector */

position: absolute;
left: 8.34%;
right: 16.66%;
top: 16.67%;
bottom: 8.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Vector */

position: absolute;
left: 33.34%;
right: 7.82%;
top: 7.83%;
bottom: 33.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Group 95 */

position: absolute;
width: 52px;
height: 18px;
left: 259px;
top: 21px;



/* Group 96 */

position: absolute;
width: 52px;
height: 18px;
left: 259px;
top: 21px;



/* database */

position: absolute;
width: 18px;
height: 18px;
left: 259px;
top: 21px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* arrow-right */

position: absolute;
width: 15px;
height: 15px;
left: 281px;
top: 23px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* database */

position: absolute;
width: 13px;
height: 13px;
left: 298px;
top: 24px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Medium / Medium */

position: absolute;
width: 122px;
height: 20px;
left: 397px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 62 / 300 */

position: absolute;
width: 58px;
height: 20px;
left: 615px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 2 / 3 / 2 */

position: absolute;
width: 53px;
height: 20px;
left: 768px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* Group 80 */

position: absolute;
width: 200px;
height: 35px;
left: 884px;
top: 13px;



/* Slider */

position: absolute;
height: 6px;
left: 884px;
right: 146px;
top: 42px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Slider */

position: absolute;
left: 0%;
right: 50.33%;
top: 0%;
bottom: 0%;

background: #2A6985;
border-radius: 50px;


/* Line 6 */

position: absolute;
left: 24.86%;
right: 72.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 7 */

position: absolute;
left: 49.71%;
right: 47.29%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 8 */

position: absolute;
left: 74.86%;
right: 22.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Ellipse 9 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 91px;
top: -5px;

background: #2A6985;
/* Old Theme/Grey 5 bg */
border: 3px solid #F4F6F9;


/* Balanced */

position: absolute;
width: 63px;
height: 20px;
left: 884px;
top: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

/* Grey 2 - New */
color: #4E575B;



/* InputToggle */

position: absolute;
width: 40px;
height: 20px;
left: 1148px;
top: 20px;



/* Rectangle 2 */

position: absolute;
width: 40px;
height: 20px;
left: 0px;
top: 0px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Ellipse 4 */

position: absolute;
width: 16px;
height: 16px;
left: 2px;
top: 2px;

/* White */
background: #FFFFFF;


/* Row */

position: absolute;
width: 1230px;
height: 60px;
left: 0px;
top: 192px;

/* New Grey Light F5 */
background: #F5F5F5;
border-radius: 5px;


/* InputCheck */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: calc(50% - 20px/2);

/* White */
background: #FFFFFF;
/* New Theme/Grey 3 - New */
border: 1px solid #7E888C;
border-radius: 5px;


/* Frame 13 */

position: absolute;
width: 143px;
height: 23px;
left: 45px;
top: calc(50% - 23px/2 - 0.5px);



/* Looker_WH_3 */

position: absolute;
width: 94px;
height: 20px;
left: 0px;
top: calc(50% - 20px/2 - 1.5px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* icon/edit */

position: absolute;
width: 20px;
height: 20px;
left: 123px;
top: 2px;



/* Vector */

position: absolute;
left: 8.34%;
right: 16.66%;
top: 16.67%;
bottom: 8.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Vector */

position: absolute;
left: 33.34%;
right: 7.82%;
top: 7.83%;
bottom: 33.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Small / Medium */

position: absolute;
width: 106px;
height: 20px;
left: 397px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 10 / 600 */

position: absolute;
width: 58px;
height: 20px;
left: 615px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 1 / 3 / 3 */

position: absolute;
width: 53px;
height: 20px;
left: 768px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* Group 80 */

position: absolute;
width: 200px;
height: 35px;
left: 885px;
top: calc(50% - 35px/2 + 0.5px);



/* Slider */

position: absolute;
height: 6px;
left: 885px;
right: 145px;
top: 42px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Slider */

position: absolute;
left: 0%;
right: 25%;
top: 0%;
bottom: 0%;

background: #2A6985;
border-radius: 50px;


/* Line 6 */

position: absolute;
left: 24.86%;
right: 72.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 7 */

position: absolute;
left: 49.71%;
right: 47.29%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 8 */

position: absolute;
left: 74.86%;
right: 22.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Ellipse 9 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 142px;
top: -5px;

background: #2A6985;
/* Old Theme/Grey 5 bg */
border: 3px solid #F4F6F9;


/* Low cost */

position: absolute;
width: 60px;
height: 20px;
left: 885px;
top: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

/* Grey 2 - New */
color: #4E575B;



/* InputToggle */

position: absolute;
width: 40px;
height: 20px;
left: 1148px;
top: 20px;



/* Rectangle 2 */

position: absolute;
width: 40px;
height: 20px;
left: 0px;
top: 0px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Ellipse 4 */

position: absolute;
width: 16px;
height: 16px;
left: 2px;
top: 2px;

/* White */
background: #FFFFFF;


/* Group 94 */

position: absolute;
width: 56px;
height: 15px;
left: 255px;
top: 23px;



/* Group 95 */

position: absolute;
width: 56px;
height: 15px;
left: 255px;
top: 23px;



/* database */

position: absolute;
width: 13px;
height: 13px;
left: 268px;
top: 24px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* database */

position: absolute;
width: 13px;
height: 13px;
left: 255px;
top: 24px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* arrow-right */

position: absolute;
width: 15px;
height: 15px;
left: 281px;
top: 23px;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 50%;
bottom: 50%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 50%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* database */

position: absolute;
width: 13px;
height: 13px;
left: 298px;
top: 24px;



/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 8.33%;
bottom: 66.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 50%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 20.83%;
bottom: 8.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Row */

position: absolute;
width: 1230px;
height: 60px;
left: 0px;
top: 253px;

/* White */
background: #FFFFFF;
border-radius: 5px;


/* InputCheck */

position: absolute;
width: 20px;
height: 20px;
left: 15px;
top: calc(50% - 20px/2);

background: #2A6985;
border-radius: 5px;


/* check */

position: absolute;
left: 3px;
right: 3px;
top: 3px;
bottom: 3px;

border-radius: 50px;


/* Vector */

position: absolute;
left: 16.66%;
right: 16.68%;
top: 25%;
bottom: 29.17%;

/* White */
border: 2px solid #FFFFFF;


/* Frame 13 */

position: absolute;
width: 143px;
height: 23px;
left: 45px;
top: calc(50% - 23px/2 - 0.5px);



/* Looker_WH_4 */

position: absolute;
width: 94px;
height: 20px;
left: 0px;
top: calc(50% - 20px/2 - 1.5px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* icon/edit */

position: absolute;
width: 20px;
height: 20px;
left: 123px;
top: 2px;



/* Vector */

position: absolute;
left: 8.34%;
right: 16.66%;
top: 16.67%;
bottom: 8.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* Vector */

position: absolute;
left: 33.34%;
right: 7.82%;
top: 7.83%;
bottom: 33.33%;

/* New Theme/Grey 3 - New */
border: 2px solid #7E888C;


/* X-Small / Small */

position: absolute;
width: 103px;
height: 20px;
left: 397px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 84 / 120 */

position: absolute;
width: 58px;
height: 20px;
left: 615px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* 1 / 4 / 1 */

position: absolute;
width: 53px;
height: 20px;
left: 768px;
top: calc(50% - 20px/2 - 2px);

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */

/* Grey 2 - New */
color: #4E575B;



/* Group 80 */

position: absolute;
width: 200px;
height: 35px;
left: 884px;
top: 13px;



/* Slider */

position: absolute;
height: 6px;
left: 884px;
right: 146px;
top: 42px;

/* New Grey CCC */
background: #CCCCCC;
border-radius: 50px;


/* Slider */

position: absolute;
left: 0%;
right: 75%;
top: 0%;
bottom: 0%;

background: #2A6985;
border-radius: 50px;


/* Line 6 */

position: absolute;
left: 24.86%;
right: 72.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 7 */

position: absolute;
left: 49.71%;
right: 47.29%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Line 8 */

position: absolute;
left: 74.86%;
right: 22.14%;
top: 0%;
bottom: 100%;

/* Old Theme/Grey 5 bg */
border: 1px solid #F4F6F9;
transform: rotate(90deg);


/* Ellipse 9 */

box-sizing: border-box;

position: absolute;
width: 16px;
height: 16px;
left: 42px;
top: -5px;

background: #2A6985;
/* Old Theme/Grey 5 bg */
border: 3px solid #F4F6F9;


/* Good performance */

position: absolute;
width: 126px;
height: 20px;
left: 884px;
top: 13px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

/* Grey 2 - New */
color: #4E575B;



/* InputToggle */

position: absolute;
width: 40px;
height: 20px;
left: 1148px;
top: 20px;



/* Rectangle 2 */

position: absolute;
width: 40px;
height: 20px;
left: 0px;
top: 0px;

background: #257E5A;
border-radius: 50px;


/* Ellipse 4 */

position: absolute;
width: 16px;
height: 16px;
left: 22px;
top: 2px;

/* White */
background: #FFFFFF;


/* Group 132 */

position: absolute;
width: 52px;
height: 18px;
left: 258px;
top: 21px;



/* Group 132 */

position: absolute;
width: 52px;
height: 18px;
left: 258px;
top: 21px;



/* cpu */

position: absolute;
left: 20.98%;
right: 77.56%;
top: 35%;
bottom: 35%;



/* Vector */

position: absolute;
left: 16.67%;
right: 16.67%;
top: 16.67%;
bottom: 16.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 37.5%;
bottom: 37.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 37.5%;
right: 62.5%;
top: 4.17%;
bottom: 83.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 62.5%;
right: 37.5%;
top: 4.17%;
bottom: 83.33%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 37.5%;
right: 62.5%;
top: 83.33%;
bottom: 4.17%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 62.5%;
right: 37.5%;
top: 83.33%;
bottom: 4.17%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 83.33%;
right: 4.17%;
top: 37.5%;
bottom: 62.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 83.33%;
right: 4.17%;
top: 58.33%;
bottom: 41.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 4.17%;
right: 83.33%;
top: 37.5%;
bottom: 62.5%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 4.17%;
right: 83.33%;
top: 58.33%;
bottom: 41.67%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* arrow-right */

position: absolute;
width: 15px;
height: 15px;
left: 279px;
top: 22px;



/* Vector */

position: absolute;
left: 14.17%;
right: 14.17%;
top: 50%;
bottom: 50%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 63.33%;
right: 7.5%;
top: 20.83%;
bottom: 20.83%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 6.67%;
right: 64.17%;
top: 20.83%;
bottom: 20.83%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;
transform: matrix(-1, 0, 0, 1, 0, 0);


/* server 2 */

position: absolute;
left: 24.23%;
right: 74.8%;
top: 35%;
bottom: 35%;



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 5.56%;
bottom: 5.56%;

/* Grey 2 - New */
border: 1.5px solid #4E575B;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 22.22%;
bottom: 77.78%;

/* Grey 2 - New */
border: 2px solid #4E575B;


/* Vector */

position: absolute;
left: 33.33%;
right: 33.33%;
top: 38.89%;
bottom: 61.11%;

/* Grey 2 - New */
border: 2px solid #4E575B;


/* Vector */

position: absolute;
left: 50%;
right: 49.94%;
top: 66.67%;
bottom: 33.33%;

/* Grey 2 - New */
border: 3px solid #4E575B;
